.search-listing{
    width:100%;
    height:auto;
    margin-top:10px;
    padding:60px 5vw;
}
.product-container{
    flex-wrap:wrap;
}
.product-card{
    width:30%;
    margin:20px 0;
    height:600px;
}
.product-name{
    position:absolute;
    font-family:'lato',sans-serif;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    text-transform:capitalize;
    font-size:50px;
    opacity:0;
    transition:.5s;
}
.product-card:hover .product-name{
    opacity:1;

}